/* copied stuff for the session pane stuff*/
body {
    font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; 
    font-size:13px; 
    margin:20px;
    background-image:url('vertical_cloth.png');
    background-repeat:repeat;
}
#main {
    position: absolute;
    width:960px;
    margin: 0px auto;
    border:solid 1px #b2b3b5;
    -moz-border-radius:10px;
    padding:20px;
    background-color:#f6f6f6;
}
#header {
    text-align:center;
    border-bottom:solid 1px #b2b3b5;
    margin: 0 0 40px 0;
}
#SignupForm {
    position: absolute;
    right: 10%;
    width: 35%;
    min-width: 300px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0px 0px 30px 5px #999;
    -webkit-box-shadow: 0px 0px 30px 5px #999;
}
fieldset {
    border:none;
}
legend {
    font-size:18px;
    margin:0px;
    padding:10px 0px;
    color:#0033CC;
    font-weight:bold;
}
label {
    display:block;
    margin:15px 0 5px;
}
input[type=text], input[type=password] {
    padding:5px;
    border:solid 1px #000;
}
.prev, .next {
    background-color:#0033CC;
    padding:5px 10px;
    color:#fff;
    text-decoration:none;
}
.prev:hover, .next:hover {
    background-color:#000;
    text-decoration:none;
}
.prev {
    float:left;
}
.next {
    float:right;
}
#steps {
    list-style:none;
    overflow:hidden;
    padding:0px;
    width: 695px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
#steps li {
    font-size:24px;
    float:left;
    padding:10px;
    color:#b0b1b3;
}
#steps li span {font-size:11px
    display:block;
}
#steps li.current {
    color:#0033CC;
}
#makeWizard {
    background-color:#b0232a;
    color:#fff;
    padding:5px 10px;
    text-decoration:none;
    font-size:18px;
}
#makeWizard:hover {
    background-color:#0033CC;
}

/*Custom stuff*/
h2#reg {
    margin-top:40px;
    text-align: center;
    color: #b0b1b3;
}
#mySelect {
    margin-left: 10%;
    width: 35%;
    border-style: solid;
    padding: 25px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0px 0px 30px 5px #999;
    -webkit-box-shadow: 0px 0px 30px 5px #999;
    min-width: 300px;
}
form {
    background-color: white;
}
#message_display {
    margin-top: 30px;
}
#lo {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 10px;
    color: #999;
}
#footer {
    height: 250px;
}
div#spacer {
    margin-top: 10px;
}
br {
    clear:both;
}
.label {
    font-weight: bold;
    text-decoration:underline;
    text-align: center;
}
.ev {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#0033CC;
}

.sub {
    clear:left;
}
.form {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    padding-bottom: 20px;
    padding-top: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0px 0px 30px 5px #999;
    -webkit-box-shadow: 0px 0px 30px 5px #999;
}
input.blur {
    color: #aaa;
}
#spacer{
    margin-top:10px;
}
#login {
    margin-bottom: 10px;
}
#loginstructions {
    margin-bottom: 10px;
}
#info {
    width: 70%;
    text-align:center;
    min-width:300px;
    margin:0 auto;
}
#info p {
    font-size: 17px;
    text-align:center;
    color:#b0b1b3;
}
#review {
    background-color: white;
    width: 40%%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 25px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0px 0px 30px 5px #999;
    -webkit-box-shadow: 0px 0px 30px 5px #999;
}
.evtop {
    border-bottom:solid 1px #b2b3b5;
}
